<!-- <app-red></app-red>
<app-green></app-green>
<app-blue></app-blue>
<h1> sum {{myname+x+y}}</h1> -->
<!-- <!DOCTYPE html>
<html>
<head>
	<title>g</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<input [(ng-model)]="fname">
<br>
<p> u entered {{fname}}<br>
<input [(ng-model)]="lname">
<br>

u entered {{lname}}</p>
</body>
</html>

 -->
<!--  <app-ifcomp></app-ifcomp> -->
<!-- <app-bindings></app-bindings>
<app-forcomp></app-forcomp> -->
<app-samplesite></app-samplesite>
